<!DOCTYPE html>
<html lang="pt-br">
    {head}
<body>

    <!-- Cabeçalho -->
    {cabecalho}
    <!--Menu-->
    {menu}
    <!--Slid-->
    {carroceu}
    <!--Conteudo-->
    <div class="container " >
        {Titulo}
        <div class="row" >
            <div>
                <img class="img-fluid borda img-perse" height="150px" width="150px" alt="Responsive image" src="{fotoCarroceu}"/>        
                <p class="text-break text-wrap texto-justificado ">{texto1}</p>
            </div>
        </div>
        <hr size="10" >
        
        <div class="box" >
            
           
            <p class=" vereador " >{texto2}</p>
           
            
        </div>
        
    </div>
</body>
</html>